node_modules
dist
.tmp
.sass-cache
bower_components
.idea/.name
.idea/encodings.xml
.idea/jsLibraryMappings.xml
.idea/libraries/wantedpixel_node_modules.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/wantedpixel.iml
.idea/workspace.xml
profiles_settings.xml
Generated_files.xml
main.js
main.js.map
watcherTasks.xml
app/scripts/services/datafactory.js
app/scripts/services/datafactory.js.map
/.idea/compiler.xml
/.idea/wantedpixel.com.iml
/.idea/sonarIssues.xml
