<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a ng-click="navigateTo('home')" class="navbar-brand"></a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li class="project" ng-class="{'active': activeSection == 'works'}"><a ng-click="navigateTo('works')">Works</a></li>
        <li class="project" ng-class="{'active': activeSection == 'products'}"><a ng-click="navigateTo('products')">What</a></li>
        <li class="project" ng-class="{'active': activeSection == 'framework'}"><a ng-click="navigateTo('framework')">How</a></li>
        <li class="project" ng-class="{'active': activeSection == 'contact-us'}"><a ng-click="navigateTo('contact-us')">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="home">
  <div class="container">
    <h1>Web Services & Creativity</h1>
    <p>Ranging from a simple 3 page website to a bespoke eCommerce platform combined with your own branded iPhone application; Wanted Pixel offers affordable, high quality design and functionality that will perform for your business.</p>
    <p>Wanted Pixel brings together creativity, technology, and marketing to transform your vision into reality.</p>
    <div class="links">
      <a ng-click="navigateTo('works')">See our portfolio</a>
      <a ng-click="navigateTo('contact-us')">Contact us</a>
    </div>
  </div>
</div>
<div class="home-black-bg"></div>
<div class="works">
  <div class="line"></div>
  <div class="container">
    <h2>Selected works</h2>
    <ul accordion class="projects">
      <li class="project" ng-repeat="project in projects" on-finish-render>
        <div data-toggle="modal" data-target="#myModal{{$index}}">
          <image class="project-image" ng-src="{{project.image}}" alt="{{project.title}}" />
          <div class="info">
            <h3>{{project.title}}</h3>
            <div class="mision-label">Mission:</div>
            <div class="mission">{{project.mission}}</div>
            <div class="text">
              {{project.description}}
            </div>
            <div class="more">See more</div>
          </div>
        </div>
        <div class="overlay"></div>
        <!-- Modal -->
      </li>
    </ul>
  </div>
</div>
<div ng-repeat="project in projects" class="modal" id="myModal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="works-link{{$index}}" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div ng-class="{active: $index==0}" class="item" ng-repeat="image in project.details.images">
              <img ng-src="{{image}}" alt="project.title">
            </div>
          </div>
          <!-- Controls -->
          <a ng-if="project.details.images.length > 1" class="left carousel-control" data-target="#works-link{{$index}}" href="javascript:void(0);" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a ng-if="project.details.images.length > 1" class="right carousel-control" data-target="#works-link{{$index}}" href="javascript:void(0);" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <h2>{{project.details.title}}</h2> <a class="project-link" href="{{project.details.url}}" target="_blank">VISIT THE WEBSITE ></a>
        <p ng-bind-html="project.details.description"></p>
      </div>
    </div>
  </div>
</div>
<div class="services">
  <div class="line"></div>
  <div smallipop="isService" class="container">
    <h2 class="section-title products">What we make</h2>
    <div class="row">
      <div class="service" ng-class="{'col-sm-4': $index < 3, 'col-sm-6': $index > 2}" on-finish-render="isService" ng-repeat="service in services">
        <img ng-src="{{service.image}}" alt="{{service.title}}"/>
        <div>{{service.title}}</div>
        <span class="smallipop-hint">
          <h6>{{service.title}}</h6>
          <span ng-bind-html="service.description"></span>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="method">
  <div class="line"></div>
  <div class="container">
    <h2 class="section-title framework">How we make things</h2>
    <div class="how-container">
      <div class="how-step-container" ng-repeat="step in methodology">
        <div class="how-title" ng-bind-html="step.title" toggle-details></div>
        <div class="details" ng-bind-html="step.description"></div>
      </div>
    </div>
  </div>
</div>
<div class="makers">
  <div class="container">
    <h2>The makers</h2>
    <div class="row">
      <div smallipop ng-repeat="maker in makers" class="col-xs-4 maker" on-finish-render="isMaker">
        <div class="shelfie"></div>
        <div class="info">
          <div class="specialty">{{maker.specialty}}</div>
          <div class="name">{{maker.name}}</div>
          <div class="more">Learn more</div>
        </div>
        <span class="smallipop-hint">
          <p>{{maker.description}}</p>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="contact">
  <div class="line"></div>
  <div class="container">
    <h2 class="section-title contact-us">Contact us</h2>
    <div class="row">
      <div class="col-xs-6">
        <p>We are present in Germany (Berlin) and in France (Paris). We speak english, german, french, spanish and greek.Let us know about your project; we will use our knowledge and experience to help you make informed decisions about it. Meeting exciting people, starting new projects and concepts is what makes us tick. </p>
        <p>Not sure what services you need? We provide fixed rate consulting services that will help identify your needs and get the best out of your budget.</p>
        <p>So go on, get in touch.</p>
        <p>
          Wanted Pixel - Web Services and Creativity<br/>
          Kiefholzstr. 413<br/>
          12435 Berlin, Germany<br/>
        </p>
        <div class="row"><div class="col-xs-2">email:</div><div class="col-xs-10"> <a href="mailto:contact@wantedpixel.com">contact@wantedpixel.com</a></div></div>
        <div class="row"><div class="col-xs-2">tel:</div><div class="col-xs-10"> <a href="tel:0049 3070 242 835">0049 3070 242 835</a></div></div>
        <div class="row"><div class="col-xs-2">fax:</div><div class="col-xs-10"> <a href="fax:0049 3222 335 3359">0049 3222 335 3359</a></div></div>

      </div>
      <div class="col-xs-6">
        <form name="contactForm" novalidate class="form-horizontal" role="form">
          <div class="form-group">
            <label class="control-label col-sm-3" for="first_name">First name:</label>
            <div class="col-sm-9">
              <input type="text" ng-model="user.firstName" class="form-control" id="first_name" placeholder="First name">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="last_name">Last name:</label>
            <div class="col-sm-9">
              <input type="text" ng-model="user.lastName" class="form-control" id="last_name" placeholder="Last name">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="email_address">Email address:</label>
            <div class="col-sm-9">
              <input type="email" ng-model="user.email" required class="form-control" id="email_address" placeholder="Email address">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-3" for="message">Message:</label>
            <div class="col-sm-9">
              <textarea ng-model="user.message" required class="form-control" id="message" placeholder="Message"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" ng-click="contactForm.$valid && sendEmail()" class="btn btn-default">Send<span class="loading" ng-show="messageSending">ing...</span></button>
            </div>
          </div>
          <div class="modal email-modal" tabindex="-1" role="dialog" ng-show="messageResponse">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <div ng-bind-html="messageResponse"></div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" ng-click="messageResponse=undefined">Ok</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <h2 class="section-title">Thanks for your visit !</h2>
    <h3>We hope to see you soon</h3>
    <div class="copyright">© WANTED PIXEL, 2015</div>
  </div>
</div>
