<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand"></a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a>Works</a></li>
        <li><a>What</a></li>
        <li><a>How</a></li>
        <li><a>Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="home">
  <div class="container">
    <h1>Web Services & Creativity</h1>
    <p>Ranging from a simple 3 page website to a bespoke eCommerce platform combined with your own branded iPhone application; Wanted Pixel offers affordable, high quality design and functionality that will perform for your business.</p>
    <p>Wanted Pixel brings together creativity, technology, and marketing to transform your vision into reality.</p>
    <div class="links">
      <a>See our portfolio</a>
      <a>Contact us</a>
    </div>
  </div>
</div>
<div class="home-black-bg"></div>
