<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand"></a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a>Works</a></li>
        <li class="project"><a>What</a></li>
        <li class="project"><a>How</a></li>
        <li class="project"><a>Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="home">
  <div class="container">
    <h1>Web Services & Creativity</h1>
    <p>Ranging from a simple 3 page website to a bespoke eCommerce platform combined with your own branded iPhone application; Wanted Pixel offers affordable, high quality design and functionality that will perform for your business.</p>
    <p>Wanted Pixel brings together creativity, technology, and marketing to transform your vision into reality.</p>
    <div class="links">
      <a>See our portfolio</a>
      <a>Contact us</a>
    </div>
  </div>
</div>
<div class="home-black-bg"></div>
<div class="works">
  <div class="line"></div>
  <div class="container">
    <h2>Selected works</h2>
    <ul accordion class="projects">
      <li class="project">
        <image src="images/accordion/slide_discavo_mobile.jpg" alt="Discavo mobile site" />
        <div class="info">
          <h3>discavo.de</h3>
          <div class="mision-label">Mission:</div>
          <div class="mission">DEVELOP - Mobile Site</div>
          <div class="text">
            DISCAVO is the new hotel price comparison platform that takes the pain out of travel search. The platform offers user-friendly filter options that are revolutionizing the search for suitable accommodation. Travelers choose their destination and find the nearest location within the chosen price range. Dynamic maps allow visitors to explore the surroundings.
          </div>
          <div class="more">See more</div>
        </div>
        <div class="overlay"></div>
      </li>
      <li class="project">
        <image src="images/accordion/slide_discavo.jpg" alt="Discavo web app" />
        <div class="info">
          <h3>discavo.de</h3>
          <div class="mision-label">Mission:</div>
          <div class="mission">DEVELOP - Mobile Site</div>
          <div class="text">
            DISCAVO is the new hotel price comparison platform that takes the pain out of travel search. The platform offers user-friendly filter options that are revolutionizing the search for suitable accommodation. Travelers choose their destination and find the nearest location within the chosen price range. Dynamic maps allow visitors to explore the surroundings.
          </div>
          <div class="more">See more</div>
        </div>
        <div class="overlay"></div>
      </li>
      <li class="project">
        <image src="images/accordion/slide_gigflip.jpg" alt="Gigflip web app" />
        <div class="info">
          <h3>discavo.de</h3>
          <div class="mision-label">Mission:</div>
          <div class="mission">DEVELOP - Mobile Site</div>
          <div class="text">
            DISCAVO is the new hotel price comparison platform that takes the pain out of travel search. The platform offers user-friendly filter options that are revolutionizing the search for suitable accommodation. Travelers choose their destination and find the nearest location within the chosen price range. Dynamic maps allow visitors to explore the surroundings.
          </div>
          <div class="more">See more</div>
        </div>
        <div class="overlay"></div>
      </li>
      <li class="project">
        <image src="images/accordion/slide_gs-at.jpg" alt="Arzttermine Gelbe Seiten widget" />
        <div class="info">
          <h3>discavo.de</h3>
          <div class="mision-label">Mission:</div>
          <div class="mission">DEVELOP - Mobile Site</div>
          <div class="text">
            DISCAVO is the new hotel price comparison platform that takes the pain out of travel search. The platform offers user-friendly filter options that are revolutionizing the search for suitable accommodation. Travelers choose their destination and find the nearest location within the chosen price range. Dynamic maps allow visitors to explore the surroundings.
          </div>
          <div class="more">See more</div>
        </div>
        <div class="overlay"></div>
      </li>
      <li class="project">
        <image src="images/accordion/slide_arzttermine.jpg" alt="Arzttermine mobile site" />
        <div class="info">
          <h3>discavo.de</h3>
          <div class="mision-label">Mission:</div>
          <div class="mission">DEVELOP - Mobile Site</div>
          <div class="text">
            DISCAVO is the new hotel price comparison platform that takes the pain out of travel search. The platform offers user-friendly filter options that are revolutionizing the search for suitable accommodation. Travelers choose their destination and find the nearest location within the chosen price range. Dynamic maps allow visitors to explore the surroundings.
          </div>
          <div class="more">See more</div>
        </div>
        <div class="overlay"></div>
      </li>
      <li class="project">
        <image src="images/accordion/slide_arzttermineSite.jpg" alt="Arzttermine web app" />
        <div class="info">
          <h3>discavo.de</h3>
          <div class="mision-label">Mission:</div>
          <div class="mission">DEVELOP - Mobile Site</div>
          <div class="text">
            DISCAVO is the new hotel price comparison platform that takes the pain out of travel search. The platform offers user-friendly filter options that are revolutionizing the search for suitable accommodation. Travelers choose their destination and find the nearest location within the chosen price range. Dynamic maps allow visitors to explore the surroundings.
          </div>
          <div class="more">See more</div>
        </div>
        <div class="overlay"></div>
      </li>
      <li class="project">
        <image src="images/accordion/slide_strategyvar.jpg" alt="Strategyvar web site" />
        <div class="info">
          <h3>discavo.de</h3>
          <div class="mision-label">Mission:</div>
          <div class="mission">DEVELOP - Mobile Site</div>
          <div class="text">
            DISCAVO is the new hotel price comparison platform that takes the pain out of travel search. The platform offers user-friendly filter options that are revolutionizing the search for suitable accommodation. Travelers choose their destination and find the nearest location within the chosen price range. Dynamic maps allow visitors to explore the surroundings.
          </div>
          <div class="more">See more</div>
        </div>
        <div class="overlay"></div>
      </li>
      <li class="project">
        <image src="images/accordion/slide_k-nap.jpg" alt="K-nap web site" />
        <div class="info">
          <h3>discavo.de</h3>
          <div class="mision-label">Mission:</div>
          <div class="mission">DEVELOP - Mobile Site</div>
          <div class="text">
            DISCAVO is the new hotel price comparison platform that takes the pain out of travel search. The platform offers user-friendly filter options that are revolutionizing the search for suitable accommodation. Travelers choose their destination and find the nearest location within the chosen price range. Dynamic maps allow visitors to explore the surroundings.
          </div>
          <div class="more">See more</div>
        </div>
        <div class="overlay"></div>
      </li>
      <li class="project">
        <image src="images/accordion/slide_cadolle.jpg" alt="Cadolle web site" />
        <div class="info">
          <h3>discavo.de</h3>
          <div class="mision-label">Mission:</div>
          <div class="mission">DEVELOP - Mobile Site</div>
          <div class="text">
            DISCAVO is the new hotel price comparison platform that takes the pain out of travel search. The platform offers user-friendly filter options that are revolutionizing the search for suitable accommodation. Travelers choose their destination and find the nearest location within the chosen price range. Dynamic maps allow visitors to explore the surroundings.
          </div>
          <div class="more">See more</div>
        </div>
        <div class="overlay"></div>
      </li>
      <li class="project">
        <image src="images/accordion/slide_art-fi.jpg" alt="ART-Fi web site" />
        <div class="info">
          <h3>discavo.de</h3>
          <div class="mision-label">Mission:</div>
          <div class="mission">DEVELOP - Mobile Site</div>
          <div class="text">
            DISCAVO is the new hotel price comparison platform that takes the pain out of travel search. The platform offers user-friendly filter options that are revolutionizing the search for suitable accommodation. Travelers choose their destination and find the nearest location within the chosen price range. Dynamic maps allow visitors to explore the surroundings.
          </div>
          <div class="more">See more</div>
        </div>
        <div class="overlay"></div>
      </li>
      <li class="project">
        <image src="images/accordion/slide_PassatgeMusica.jpg" alt="Passatge de la musica visual identity" />
        <div class="info">
          <h3>discavo.de</h3>
          <div class="mision-label">Mission:</div>
          <div class="mission">DEVELOP - Mobile Site</div>
          <div class="text">
            DISCAVO is the new hotel price comparison platform that takes the pain out of travel search. The platform offers user-friendly filter options that are revolutionizing the search for suitable accommodation. Travelers choose their destination and find the nearest location within the chosen price range. Dynamic maps allow visitors to explore the surroundings.
          </div>
          <div class="more">See more</div>
        </div>
        <div class="overlay"></div>
      </li>
      <li class="project">
        <image src="images/accordion/slide_rm.jpg" alt="Redmine web app" />
        <div class="info">
          <h3>discavo.de</h3>
          <div class="mision-label">Mission:</div>
          <div class="mission">DEVELOP - Mobile Site</div>
          <div class="text">
            DISCAVO is the new hotel price comparison platform that takes the pain out of travel search. The platform offers user-friendly filter options that are revolutionizing the search for suitable accommodation. Travelers choose their destination and find the nearest location within the chosen price range. Dynamic maps allow visitors to explore the surroundings.
          </div>
          <div class="more">See more</div>
        </div>
        <div class="overlay"></div>
      </li>
    </ul>
  </div>
</div>
<div class="services">
  <div class="line"></div>
  <div class="container">
    <h2 class="section-title">What we make</h2>
    <div class="row">
      <div smallipop class="col-sm-4 service">
        <img src="images/services/web-design.png" alt="web design"/>
        <div>Website Design</div>
        <span class="smallipop-hint">
          <h6>Website Design</h6>
          <p>Newsletters, social widgets, blogs, e-commerce, rss feeds, user registrations, customer relationship management, at Wanted Pixel, there's no one-size-fits-all solution that fullfils your requirements. Depending on your needs and budget we choose the best strategy between an established Content Management System or a custom solution. We work with Joomla, Drupal and Typo3, developing custom templates, plugins and modules for all three of them. We develop custom solutions using Php, JQuery and Ruby on Rails.</p>
          <p>Ultimately, we provide you with the tools to keep your content up-to-date without the need for our input. Learn more about how we design and develop websites on our "how we make things" section.</p>
        </span>
      </div>
      <div smallipop class="col-sm-4 service">
        <img src="images/services/e-shop.png" alt="e-shop, e-commerce"/>
        <div>E-commerce</div>
        <span class="smallipop-hint">
          <h6>E-commerce</h6>
          <p>Wanted Pixel supports businesses of all shapes and sizes to put their shops online. Features include product catalogues and shopping carts, secure, online debit/credit card transactions, personalised design & build, integration with back-office systems and powerful analytics to track and manage performance in real time. We provide integration will payment gateways (such as RBS WorldPay and SagePay), paypal and bespoke stock management systems.</p>
        </span>
      </div>
      <div smallipop class="col-sm-4 service">
        <img src="images/services/mobile-app.png" alt="mobile apps"/>
        <div>Mobile Applications</div>
        <span class="smallipop-hint">
          <h6>Mobile Applications</h6>
          <p>We design and develop innovative mobile applications that provide a unique presentation of your business on the Apple App-store, the Android market and the Samsung Apps marketplace. Equally focusing on design, usability and functionality is what makes Wanted Pixel mobile apps exceptional.</p>
        </span>
      </div>
    </div>
    <div class="row second-row">
      <div smallipop class="col-sm-6 service">
        <img src="images/services/visual-identity.png" alt="visual identity"/>
        <div>Visual Identity</div>
        <span class="smallipop-hint">
          <h6>Visual Identity</h6>
          <p>At Wanted Pixel, we see Brand design as a singular vision of an organization's layers and nuances. We have the talent to create the logo, typography, color schemes, and graphical imagery that fit to our client's values and personality. We develop visual identities for our customers and translate identities into websites and promotional products, be it digital or print.</p>
        </span>
      </div>
      <div smallipop class="col-sm-6 service">
        <img src="images/services/web-app.png" alt="web apps"/>
        <div>Web Applications</div>
        <span class="smallipop-hint">
          <h6>Web Applications</h6>
          <p>We build custom web applications that integrate into your business, seamlessly supporting your every day processes. We employ an Agile development process - rapid, iterative cycles - and open-source technologies like Ruby on Rails to create stable, scalable, extensible systems. We are especially skilled in interating web applications with other systems, such as your web store, backoffice-stock management or client relations management systems.</p>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="method">
  <div class="line"></div>
  <div class="container">
    <h2 class="section-title">How we make things</h2>
    <div class="how-container">
      <div class="how-title" toggle-details>
        <h3>Wanted Pixel is no agency. We are a real family (Spiros and Thimios are brothers) and take each project personally.</h3>
      </div>
      <div class="details">
        <p>Artistic ability and technical knowledge combined ensure that our creations:</p>
        <ul>
          <li>look beautiful,</li>
          <li>offer a great user experience,</li>
          <li>index well on search engines: Google, Bing & Yahoo,</li>
          <li>functionally integrate in your business and support every day business processes</li>
        </ul>
        <p>We do this by attracting the right talent and offering an environment where everyone has the opportunity to make a difference. We do not have account managers and we arguably do not have job titles. We just have responsibilities. Everyone at Wanted Pixel works with the clients to come up with great ideas and deliver them.</p>
      </div>
      <div class="how-title" toggle-details>
        <h3>Discovering your vision</h3><h4>It all starts with a discovery session where we chat about your vision, requirements and expectations for your digital presence.</h4>
      </div>
      <div class="details">
        <p>We listen carefully to your ideas, analyse your Marketing strategy and Business requirements. We provide User experience recommendations and already start thinking about the technical Architecture of the solution.</p>
      </div>
      <div class="how-title" toggle-details>
        <h3>Architecture and Development</h3><h4>We follow an agile and iterative approach to development.</h4>
      </div>
      <div class="details">
        <p>We get going quickly, deliver a new feature on planned time periods and every time ask for your feedback. We follow this process iteratively and develop a bespoke system according to your expectations. We do not spend your money writing long-winded project specifications or stuffy documentation. No-one will read them after the project is finished. We rather use the time to get the first release live, and develop the system based on actual user feedback rather than guess work.</p>
      </div>
      <div class="how-title" toggle-details>
        <h3>Web and Graphics Design</h3><h4>All Wanted Pixel website and graphics designs are individual, one-off and based on your exact requirements.</h4>
      </div>
      <div class="details">
        <p>Design is not just pushing pixels around a page, it is how you communicate your message to your customers. We do not use ready made templates and we do not fit your visual identity into a pre-existing design. All our designs are created by ourselves - we do not use contractors. We like to be in complete charge over all stages of the project development to ensure the quality of the work. We have an eye for detail that is hard to find elsewhere.</p>
      </div>
      <div class="how-title" toggle-details>
        <h3>Support</h3><h4>We see every project as an on going relationship so we are still there for you after the website or application is delivered.</h4>
      </div>
      <div class="details">
        <p>We will train you on how to use and administer the system before launching it. After the launch, all websites and applications need a "special care period". During this time we will monitor your system, fix any bugs and make the inevitable tweaks and changes you require once you really start using it. This is also the time to further review your site' s performance on search engine results pages.</p>
      </div>
    </div>
  </div>
</div>
<div class="makers">
  <div class="container">
    <h2>The makers</h2>
    <div class="row">
      <div smallipop class="col-xs-4 maker">
        <div class="shelfie"></div>
        <div class="info">
          <div class="specialty">Design & User experience</div>
          <div class="name">Gilles Freluche</div>
          <div class="more">Learn more</div>
        </div>
        <span class="smallipop-hint">
          <p>Gilles is a professional Graphic designer since 2005. His passion is to visually reveal the key points of a project, enabling it to stand out of the mass. He is restlessly seeking new ideas driven by his curiosity for illustration, subculture and all things exotic.</p>
        </span>
      </div>
      <div smallipop class="col-xs-4 maker">
        <div class="shelfie"></div>
        <div class="info">
          <div class="specialty">Computer Eng, Phd Candidate</div>
          <div class="name">Thimios Dimopulos</div>
          <div class="more">Learn more</div>
        </div>
        <span class="smallipop-hint">
          <p>Thimios counts twelve years of experience on software, networking and web technology. He worked as a research scientist at the Deutsche Telekom Laboratories and as an IT Consultant for E&E Consultants AG in Berlin. He has published research work on ACM and IEEE journals. Thimios is candidate for a Phd on Usability at the Technical University of Berlin. He plays jazz guitar and travels a lot.</p>
        </span>
      </div>
      <div smallipop class="col-xs-4 maker">
        <div class="shelfie"></div>
        <div class="info">
          <div class="specialty">Computer Eng, M.Sc. Life Science informatics</div>
          <div class="name">Spiros Dimopulos</div>
          <div class="more">Learn more</div>
        </div>
        <span class="smallipop-hint">
          <p>Spiros has a passion for all things web and mobile. He has been developing websites and mobile applications for seven years. Spiros' mastery on programming combined with his eye for detail on design are especially appreciated at Wanted Pixel.</p>
        </span>
      </div>
    </div>
  </div>
</div>
